
/bin/*

!/bin/mariadb/
/bin/mariadb/*
!/bin/mariadb/my.ini

!/bin/mongodb/
/bin/mongodb/*
!/bin/mongodb/mongod.conf

!/bin/nginx/
/bin/nginx/*
!/bin/nginx/conf/
/bin/nginx/conf/*
!/bin/nginx/conf/nginx.conf
!/bin/nginx/conf/conf.d/
!/bin/nginx/conf/sites-available/
!/bin/nginx/conf/sites-enabled/

!/bin/php*/
/bin/php*/*
!/bin/php*/php.ini

!/bin/plugins/

!/bin/redis/
/bin/redis/*
!/bin/redis/redis.windows.conf


/data/*
!/data/mongo/
/data/mongo/*
!/data/mysql/
/data/mysql/*
!/data/redis/
/data/redis/*


/logs/*
!/logs/mongo/
/logs/mongo/*
!/logs/mysql/
/logs/mysql/*
!/logs/nginx/
/logs/nginx/*
!/logs/php/
/logs/php/*
!/logs/redis/
/logs/redis/*


/tmp/*
!/tmp/session/
/tmp/session/*
!/tmp/upload/
/tmp/upload/*
!/tmp/xdebug/
/tmp/xdebug/*


/www/*
!/www/default/
/www/default/*


/devtools/*


!.gitkeep

